<div class="content">

    <div class="header">
        <h2>Dashboard</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline-light">Reserve a spot</button>
        </div>
    </div>
    <br>
    <hr>
    <div class="card-container">
        <div class="box red available-spots">
            <form [formGroup]="revenueForm" (ngSubmit)="fetchRevenue()" >
                <div class="input-group input-group-sm">
                    <input type="date" aria-label="Start Date" formControlName="start" class="form-control">
                    <input type="date" aria-label="End Date" formControlName="end" class="form-control">
                    <button class="btn btn-outline-primary" type="submit" [disabled]="revenueForm.invalid">View Revenue</button>
                </div>
            </form>

            <span class="price">{{ revenueData }}</span>
            <h2 class="card-title">Today's Revenue</h2>
        </div>

        <div class="box green revenue">
            <div class="input-group mb-3 input-group-sm">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>
            <span class="price">{{ availSpots }}</span>
            <h2 class="card-title">Spot Availability</h2>
        </div>

        <div class="box blue">

        </div>
    </div>

    <div class="today-rev">
        <div class="rev-title"></div>
        <div class="rev-table"></div>
    </div>
</div>