<div class="content">

    <div class="header">
        <h2>Dashboard</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline-light">Reserve a spot</button>
        </div>
    </div>
    <br>
    <hr>
    <div class="card-container">
        <div class="box red available-spots">
            <div class="flip-card-front">
                <form [formGroup]="revenueForm" (ngSubmit)="fetchRevenue()" >
                    <label for="start">Start Date:</label>
                    <input type="date" id="start" formControlName="start" required>

                    <label for="end">End Date:</label>
                    <input type="date" id="end" formControlName="end" required>

                    <button type="submit" [disabled]="revenueForm.invalid">View Revenue</button>
                </form>

                <span class="price">{{ revenueData }}</span><br>/ as of today
                <br>
                <h2 class="card-title">Today's Revenue</h2>
            </div>
        </div>

        <div class="box green revenue">
            <div class="flip-card-front">

                <span class="price">{{ availSpots }}</span><br>/ in total
                <br>
                <h2 class="card-title">Spot Availability</h2>
            </div>
        </div>

        <div class="box blue">

        </div>
    </div>

    <div class="today-rev">
        <div class="rev-title"></div>
        <div class="rev-table"></div>
    </div>
</div>