<div class="content">

    <div class="header">
        <h2>Dashboard</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline-light">Reserve a spot</button>
        </div>
    </div>
    <br>
    <hr>
    <div class="card-container">
        <div class="box red available-spots">
<!--            <label for="startDate">Start Date:</label>-->
<!--            <input type="date"  (change)="fetchRevenue()">-->
<!--            <label for="endDate">End Date:</label>-->
<!--            <input type="date" (change)="fetchRevenue()">-->

<!--            <div *ngIf="revenueData">-->
<!--                <h3>Hello</h3>-->
<!--            </div>-->
            <div class="flip-card-front">

                <span class="price">{{ revenueData }}</span><br>/ as of today
                <br>
                <h2 class="card-title">Today's Revenue</h2>
            </div>
        </div>

        <div class="box green revenue">
            <div class="flip-card-front">

                <span class="price">{{ availSpots }}</span><br>/ in total
                <br>
                <h2 class="card-title">Spot Availability</h2>
            </div>
        </div>

        <div class="box blue">

        </div>
    </div>

    <div class="today-rev">
        <div class="rev-title"></div>
        <div class="rev-table"></div>
    </div>
</div>