<div class="content">
    <div class="header">
        <h2>Pricing</h2>
    </div>
    <hr>
    <h3>Add New Price</h3>
    <form [formGroup]="priceForm" (ngSubmit)="add()">
        <div class="input-group ">
            <input formControlName="duration" type="number" class="form-control" id="duration" placeholder="Duration">
            <input formControlName="price" type="number" class="form-control" id="price" placeholder="Price">
            <button class="btn btn-success" (click)="add()">Add</button>
        </div>
    </form>
    <hr>
    <div class="card-container">
        <table>
            <thead>
            <tr>
                <th>Hours</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let price of prices">
                <td>{{ price.duration }}</td>
                <td>{{ price.price | currency: 'USD' }}</td>
                <td>
                    <button class="btn btn-warning" (click)="edit(price)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                    </button>
                    <button class="btn btn-danger" (click)="delete(price.duration)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Trigger the modal with a button -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Editing -->

<!--        <div style="border: 1px solid blue; z-index: 1000;" *ngIf="selectedPrice" class="modal">-->
<!--            <h3>Edit Pricing</h3>-->
<!--            <label>Hours:</label>-->
<!--            <input [(ngModel)]="selectedPrice.duration" type="number" />-->
<!--            <label>Price:</label>-->
<!--            <input [(ngModel)]="selectedPrice.price" type="number" />-->
<!--            <button (click)="update()">Save</button>-->
<!--            <button (click)="cancel()">Cancel</button>-->
<!--        </div>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Hours</th>-->
<!--                <th>Price</th>-->
<!--                <th>Actions</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let price of prices">-->
<!--                <td>-->
<!--                    <input [(ngModel)]="price.duration" />-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input [(ngModel)]="price.price" />-->
<!--                </td>-->
<!--                <td>-->
<!--                    <button class="btn btn-warning" (click)="update(price)">Update</button>-->
<!--                    <button class="btn btn-danger" (click)="delete(price.duration)">Delete</button>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--&lt;!&ndash;                <th></th>&ndash;&gt;-->
<!--                <th>Price</th>-->
<!--                <th>Duration (in hours)</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--        </table>-->
<!--        <div class="tbl-content">-->
<!--            <table>-->
<!--                <tbody>-->
<!--                <tr class="hover-effect" *ngFor="let price of prices">-->
<!--&lt;!&ndash;                    <td *ngIf="price.duration === 1">Quick Stop</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td *ngIf="price.duration === 2">Double Time</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td *ngIf="price.duration === 5">Half Day Hustle</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td *ngIf="price.duration === 24">Full Day Flex</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td *ng>No Name</td>&ndash;&gt;-->
<!--                    <td>{{ price.price | currency: 'USD' }}</td>-->
<!--                    <td>{{ price.duration }}</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr>-->

<!--    <div class="update-price-div">-->
<!--        <h3>Update an existing price</h3>-->
<!--        <form [formGroup]="priceForm" (ngSubmit)="updatePrice()">-->
<!--            <div class="mb-3">-->
<!--                <label for="price" class="form-label">Price</label>-->
<!--                <input formControlName="price" type="number" class="form-control" id="price" placeholder="Price">-->
<!--                <div *ngIf="priceForm?.invalid && priceForm.get('price')?.touched" class="text-danger">-->
<!--                    Price is required.-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="mb-3">-->
<!--                <label for="duration" class="form-label">Duration</label>-->
<!--                <input formControlName="duration" type="number" class="form-control" id="duration" placeholder="Duration">-->
<!--                <div *ngIf="priceForm.get('price')?.invalid && priceForm.get('duration')?.touched" class="text-danger">-->
<!--                    Duration is required.-->
<!--                </div>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary" [disabled]="priceForm.invalid">Update price</button>-->
<!--        </form>-->
<!--    </div>-->

</div>

