<div class="content">
    <div class="header">
        <h2>Pricing</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline-danger">Delete</button>
            <button type="button" class="btn btn-outline-light">Update</button>
            <button type="button" class="btn btn-success">Add</button>
        </div>
    </div>
    <p>Price may vary depending on the member.</p>
    <hr>
    <div class="card-container">
        <table>
            <thead>
            <tr>
<!--                <th></th>-->
                <th>Price</th>
                <th>Duration (in hours)</th>
            </tr>
            </thead>
        </table>
        <div class="tbl-content">
            <table>
                <tbody>
                <tr class="hover-effect" *ngFor="let price of prices">
<!--                    <td *ngIf="price.duration === 1">Quick Stop</td>-->
<!--                    <td *ngIf="price.duration === 2">Double Time</td>-->
<!--                    <td *ngIf="price.duration === 5">Half Day Hustle</td>-->
<!--                    <td *ngIf="price.duration === 24">Full Day Flex</td>-->
<!--                    <td *ng>No Name</td>-->
                    <td>{{ price.price | currency: 'USD' }}</td>
                    <td>{{ price.duration }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="add-price-div">
        <h3>Add new price</h3>
        <form [formGroup]="addPriceForm" (ngSubmit)="addPrice()" method="post">
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input formControlName="price" type="number" class="form-control" id="price" placeholder="Price">
                <div *ngIf="addPriceForm?.invalid && addPriceForm.get('price')?.touched" class="text-danger">
                    Price is required
                </div>
            </div>

            <div class="mb-3">
                <label for="duration" class="form-label">Duration</label>
                <input formControlName="duration" type="number" class="form-control" id="duration" placeholder="Duration">
                <div *ngIf="addPriceForm.get('price')?.invalid && addPriceForm.get('duration')?.touched" class="text-danger">
                    Price is required
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="addPriceForm.invalid">Add price</button>
        </form>
    </div>

</div>

