<div class="d-flex justify-content-center main-content">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel">Create or edit a floor</h2>

      <app-alert-error></app-alert-error>

      <div class="mb-3" [hidden]="!editForm.value.id">
        <label class="form-label" for="field_id">ID</label>
        <input type="text" id="field_id" class="form-control" name="id" formControlName="id" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label" for="field_name">Name</label>
        <input type="text" id="field_name" class="form-control" name="name" formControlName="name" />
      </div>

      <button type="button" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button type="submit" [disabled]="editForm.invalid || isSaving()" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
    </form>
  </div>
</div>
