@if (floor) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(floor.id!)">
    <div class="modal-header">
      <h4 class="modal-title">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <app-alert-error></app-alert-error>

      <p>Are you sure you want to delete user {{ floor.id }}?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button type="submit" class="btn btn-danger"><fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span></button>
    </div>
  </form>
}
