<div class="side">
    <div class="sidebar">
        <a href="dashboard" (click)="currentPage = 'dashboard'" [ngClass]="{active: currentPage === 'dashboard'}">Dashboard</a>
        <a href="members" (click)="currentPage = 'members'" [ngClass]="{active: currentPage === 'members'}">Members</a>
        <a href="pricing" (click)="currentPage = 'pricing'" [ngClass]="{active: currentPage === 'pricing'}">Pricing</a>
        <a href="reservations" (click)="currentPage = 'reservations'" [ngClass]="{active: currentPage === 'reservations'}">Reservations</a>
    </div>
</div>
