/* 
.sidebar {
 
    
    width: 20%;
    background-color: #f1f1f1;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
  
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04aa6d;
    color: #fff;
} */

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; /* Fixed position to stay on the left */
    top: 0;
    left: 0;
    width: 20vw; /* 20% of the viewport width */
    height: 100vh; /* Full viewport height */
    /*background-color: #2e3033;*/
    /*color: #fff;*/
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allows scrolling if content exceeds height */
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: #2e3033;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: #ffffff;
    padding: 20px;
    font-size: 1.2rem;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgba(0, 0, 255, 0.42);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
