<div class="d-flex justify-content-center main-content">
  <div class="col-8">
    @if (floor(); as floorRef) {
      <div>
        <h2>
          <span>Floor</span> [<strong>{{ floorRef.id }}</strong
          >]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ floorRef.id }}</span>
          </dd>

          <dt><span>Name</span></dt>
          <dd>{{ floorRef.name }}</dd>

        </dl>

        <button type="submit" routerLink="../../" class="btn btn-info"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span></button>
      </div>
    }
  </div>
</div>
