<div class="content">
    <div class="header">
        <h2>Members</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline-light">Add Member</button>
        </div>
    </div>
    &nbsp;
    <hr>
    <div class="card-container">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Membership Duration</th>
            </tr>
            </thead>
        </table>
        <div class="tbl-content">
            <table>
                <tbody>
                <tr class="hover-effect" *ngFor="let member of members">
                    <td>{{ member.member_id }}</td>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.status }}</td>
                    <td>{{ member.date_created }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>