<div class="main-content">
    <div class="container mt-5">
        <h2>Log in</h2>

        @if (authenticationError()) {
            <div class="alert alert-danger" data-cy="loginError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        }

        <form [formGroup]="loginForm" (ngSubmit)="login()" method="post">
            <!-- Username Field -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username">
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                     class="text-danger">
                    Username is required
                </div>
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password"
                       placeholder="Password">
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                     class="text-danger">
                    Password is required
                </div>
            </div>

            <div class="form-check">
                <label class="form-check-label" for="rememberMe">
                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"
                           formControlName="rememberMe"/>
                    <span>Remember me</span>
                </label>
            </div>

            <!-- Submit Button -->
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
            </div>

        </form>

        <br>

        <div class="mt-3 alert">
            <a class="alert-link" routerLink="/account/reset/request">Reset password</a>
        </div>

        <div class="alert">
            <a class="alert-link" routerLink="/account/register">Register</a>
        </div>

    </div>
</div>
