
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    margin-left: 20vw; /* Leave space for the sidebar */
    height: 100vh; /* Full viewport height */
    background-color: #1c1e22;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    /*width: 300px;*/
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid greenyellow; */
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.header{
    text-align: center;
}
.tbl-content{
    /* display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height:100%;
    overflow-x: hidden;
    margin-top: 0px; 
    border: 1px solid rgba(255,255,255,0.3); */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}
th{
    padding: 20px 20px;
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 20px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 1.2rem;
    color: #fff;
    border-bottom: solid 2px #2e3033;
}
.reservationButton{
    text-align: center;
}
/* .card-container{
    
} */