<div class="main-content">
  <h2 id="page-heading" data-cy="PaymentMethodHeading">
    <span>Payment Methods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-method"
        [routerLink]="['/payment-method/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Payment Method</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  @if (paymentMethods?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Payment Methods found</span>
    </div>
  }

  @if (paymentMethods && paymentMethods.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="expirationDate">
              <div class="d-flex">
                <span>Expiration Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="ccv">
              <div class="d-flex">
                <span>Ccv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="cardNumber">
              <div class="d-flex">
                <span>Card Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="fullName">
              <div class="d-flex">
                <span>Full Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="street">
              <div class="d-flex">
                <span>Street</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="city">
              <div class="d-flex">
                <span>City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="state">
              <div class="d-flex">
                <span>State</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="zip">
              <div class="d-flex">
                <span>Zip</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="user.login">
              <div class="d-flex">
                <span>User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paymentMethod of paymentMethods; track trackId(paymentMethod)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/payment-method', paymentMethod.id, 'view']">{{ paymentMethod.id }}</a>
              </td>
              <td>{{ paymentMethod.expirationDate }}</td>
              <td>{{ paymentMethod.ccv }}</td>
              <td>{{ paymentMethod.cardNumber }}</td>
              <td>{{ paymentMethod.fullName }}</td>
              <td>{{ paymentMethod.street }}</td>
              <td>{{ paymentMethod.city }}</td>
              <td>{{ paymentMethod.state }}</td>
              <td>{{ paymentMethod.zip }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/payment-method', paymentMethod.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/payment-method', paymentMethod.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(paymentMethod)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (paymentMethods && paymentMethods.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
