<div class="content">

    <div class="header">
        <h2>Reservations</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline-light">Reserve a spot</button>
        </div>
    </div>
    <hr>
    <form class="row g-3">
        <div class="row g-3">
            <legend>Reservation Dates</legend>
            <div class="col">
                <label for="start-date" class="form-label">Start Date:</label>
                <input type="datetime-local" class="form-control" aria-label="Start Date/Time" required>
            </div>
            <div class="col">
                <label for="end-date" class="form-label">End Date:</label>
                <input type="datetime-local" class="form-control"  aria-label="End Date/Time" required>
            </div>
        </div>

        <div class="row g-3">
            <legend>Car Details</legend>
            <div class="col-sm">
                <label for="car-make" class="form-label">Make: </label>
                <input type="text" class="form-control" placeholder="Ford" aria-label="car-make">
            </div>
            <div class="col-sm">
                <label for="car-model" class="form-label">Model: </label>
                <input type="text" class="form-control" placeholder="Fusion" aria-label="car-model">
            </div>
            <div class="col-sm">
                <label for="color" class="form-label">Color: </label>
                <input type="text" class="form-control" placeholder="Red" aria-label="color">
            </div>
            <div class="col-md-5">
                <label for="registration-number" class="form-label">Registration Number: </label>
                <input type="text" class="form-control" placeholder="1234567" aria-label="registration-number">
            </div>
        </div>

        <form class="row g-3">
            <legend>Payment details</legend>
            <div class="col-sm">
                <label for="full-name" class="form-label">Full Name: </label>
                <input type="text" class="form-control" placeholder="John Doe" aria-label="full-name">
            </div>
            <div class="col-sm">
                <label for="card-number" class="form-label">Card Number: </label>
                <input type="text" class="form-control" placeholder="XXXXXXXXXXXX" aria-label="card-number">
            </div>
            <div class="col-sm">
                <label for="expired" class="form-label">Expiration Date:  </label>
                <input type="text" class="form-control" placeholder="MM/YY" aria-label="expired">
            </div>
            <div class="col-md-2">
                <label for="ccv" class="form-label">CCV:  </label>
                <input type="text" class="form-control" placeholder="123" aria-label="ccv">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <input type="text" class="form-control" id="inputState">
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Reserve a spot</button>
            </div>
        </form>
    </form>

<!--    &lt;!&ndash; booking-form.component.html &ndash;&gt;-->
<!--    <form [formGroup]="reservationForm" (ngSubmit)="submitForm()">-->
<!--        <h2>Booking Form</h2>-->
<!--        &lt;!&ndash; Date and Time Inputs &ndash;&gt;-->
<!--        <label for="startDate">Start Date:</label>-->
<!--        <input type="date" formControlName="startDate" />-->

<!--        <label for="startTime">Start Time:</label>-->
<!--        <input type="time" formControlName="startTime" />-->

<!--        <label for="endDate">End Date:</label>-->
<!--        <input type="date" formControlName="endDate" />-->

<!--        <label for="endTime">End Time:</label>-->
<!--        <input type="time" formControlName="endTime" />-->

<!--        &lt;!&ndash; Car Info Group &ndash;&gt;-->
<!--        <fieldset formGroupName="carInfo">-->
<!--            <legend>Car Information</legend>-->

<!--            <label for="color">Color:</label>-->
<!--            <input type="text" formControlName="color" />-->

<!--            <label for="make">Make:</label>-->
<!--            <input type="text" formControlName="make" />-->

<!--            <label for="model">Model:</label>-->
<!--            <input type="text" formControlName="model" />-->

<!--            <label for="registrationNumber">Registration Number:</label>-->
<!--            <input type="text" formControlName="registrationNumber" />-->
<!--        </fieldset>-->

<!--        &lt;!&ndash; Payment Info Group &ndash;&gt;-->
<!--        <fieldset formGroupName="paymentInfo">-->
<!--            <legend>Payment Information</legend>-->

<!--            <label for="cardNumber">Card Number:</label>-->
<!--            <input type="text" formControlName="cardNumber" maxlength="16" />-->

<!--            <label for="ccv">CCV:</label>-->
<!--            <input type="text" formControlName="ccv" maxlength="3" />-->

<!--            <label for="expirationDate">Expiration Date:</label>-->
<!--            <input type="month" formControlName="expirationDate" />-->

<!--            <label for="fullName">Full Name:</label>-->
<!--            <input type="text" formControlName="fullName" />-->

<!--            &lt;!&ndash; Address Group &ndash;&gt;-->
<!--            <fieldset formGroupName="address">-->
<!--                <legend>Billing Address</legend>-->

<!--                <label for="street">Street:</label>-->
<!--                <input type="text" formControlName="street" />-->

<!--                <label for="city">City:</label>-->
<!--                <input type="text" formControlName="city" />-->

<!--                <label for="state">State:</label>-->
<!--                <input type="text" formControlName="state" />-->

<!--                <label for="zipCode">Zip Code:</label>-->
<!--                <input type="text" formControlName="zipCode" maxlength="5" />-->
<!--            </fieldset>-->
<!--        </fieldset>-->

<!--        &lt;!&ndash; Submit Button &ndash;&gt;-->
<!--        <button type="submit" [disabled]="!reservationForm.valid">Submit</button>-->
<!--    </form>-->

</div>
