<div class="content">

    <div class="header">
        <h2>Reservations</h2>
<!--        <div class="buttons">-->
<!--            <button type="button" class="btn btn-outline-light">Reserve a spot</button>-->
<!--        </div>-->
    </div>

    <app-alert-error></app-alert-error>

    <app-alert></app-alert>

    <hr>
    <div>
        <div *appHasAnyAuthority="'ROLE_ADMIN'">
            <!-- Display admin-specific data -->
        </div>
        <div *appHasAnyAuthority="'ROLE_USER'">
            <!-- Display member-specific data -->
        </div>
        <table class="table table-hover">
            <thead class="table-light">
            <tr>
                <th scope="col">Reservation ID</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Price</th>
                <th scope="col">User ID</th>
                <th scope="col">Spot ID</th>
                <th scope="col">Status</th>
                <th scope="col">Car ID</th>
                <th scope="col">Confirmation #</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{ reservation.reservationId }}</td>
                <td>{{ reservation.startTime | date:'short' }}</td>
                <td>{{ reservation.endTime | date:'short' }}</td>
                <td>{{ reservation.price | currency }}</td>
                <td>{{ reservation.userId }}</td>

                <!-- Spot ID with pill-shaped badge -->
                <td> {{ reservation.spotId }} </td>

                <!-- Status dropdown for inline updates -->
                <td>
                    <span
                            class="badge rounded-pill"
                            [ngClass]="{
                                'bg-warning text-dark': reservation.status === 'Ordered',
                                'bg-success text-light': reservation.status === 'Activated'
            }"
                    >
            {{ reservation.status }}
          </span>

                </td>

                <td>{{ reservation.carId }}</td>
                <td>{{ reservation.confirmationCode }}</td>

                <!-- Actions for additional functionality (optional) -->
                <td>
                    <button class="btn btn-primary btn-sm me-2" >Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form class="row g-3" [formGroup]="reservationForm" (ngSubmit)="addReservation()">
        <div class="row g-3">
            <legend>Reservation Dates</legend>
            <div class="col">
                <label for="startTime" class="form-label">Start Date:</label>
                <input formControlName="startTime" type="datetime-local" class="form-control" aria-label="Start Date/Time" required>
            </div>
            <div class="col">
                <label for="endTime" class="form-label">End Date:</label>
                <input formControlName="endTime" type="datetime-local" class="form-control"  aria-label="End Date/Time" required>
            </div>
        </div>

        <fieldset formGroupName="car">
            <div class="row g-3">
                <legend>Car Details</legend>
                <div class="col-sm">
                    <label for="make" class="form-label">Make: </label>
                    <input formControlName="make" type="text" class="form-control" placeholder="Ford">
                </div>
                <div class="col-sm">
                    <label for="model" class="form-label">Model: </label>
                    <input formControlName="model" type="text" class="form-control" placeholder="Fusion">
                </div>
                <div class="col-sm">
                    <label for="color" class="form-label">Color: </label>
                    <input formControlName="color" type="text" class="form-control" placeholder="Red" aria-label="color">
                </div>
                <div class="col-md-5">
                    <label for="registration" class="form-label">Registration Number: </label>
                    <input formControlName="registration" type="text" class="form-control" placeholder="1234567">
                </div>
            </div>
        </fieldset>

        <fieldset formGroupName="paymentMethod">
            <legend>Payment Details</legend>
            <div class="row g-3">
                <div class="col-sm">
                    <label for="card_number" class="form-label">Account Number: </label>
                    <input formControlName="card_number" type="text" class="form-control" placeholder="12345678945">
                </div>
                <div class="col-sm">
                    <label for="ccv" class="form-label">CCV: </label>
                    <input formControlName="ccv" type="number" class="form-control" placeholder="123">
                </div>
                <div class="col-md-5">
                    <label for="expirationDate" class="form-label">Expiration Date: </label>
                    <input formControlName="expirationDate" type="text" class="form-control" placeholder="MM/YY" >
                </div>
                <div class="col-sm">
                    <label for="fullName" class="form-label">Full Name:  </label>
                    <input formControlName="fullName" type="text" class="form-control" placeholder="John Doe">
                </div>
            </div>


            <fieldset formGroupName="address">
                <legend>Billing Address</legend>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="deliveryStreet" class="form-label">Address</label>
                        <input formControlName="deliveryStreet" type="text" class="form-control" id="deliveryStreet" placeholder="1234 Main St">
                    </div>
                    <div class="col-md-6">
                        <label for="deliveryCity" class="form-label">City</label>
                        <input formControlName="deliveryCity" type="text" class="form-control" id="deliveryCity">
                    </div>
                    <div class="col-md-4">
                        <label for="deliveryState" class="form-label">State</label>
                        <input formControlName="deliveryState" type="text" class="form-control" id="deliveryState">
                    </div>
                    <div class="col-md-2">
                        <label for="deliveryZip" class="form-label">Zip</label>
                        <input formControlName="deliveryZip" type="text" class="form-control" id="deliveryZip">
                    </div>
                </div>
            </fieldset>
        </fieldset>



        <div class="col-12">
            <button type="submit" class="btn btn-primary">Reserve a spot</button>
        </div>
    </form>

</div>
