<div class="container mt-5">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="register()" method="post">
        <!-- First Name Field -->
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
            <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-danger">
                First name is required
            </div>
        </div>

        <!-- Last Name Field -->
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
            <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="text-danger">
                Last name is required
            </div>
        </div>

        <!-- Email Field -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
                Email is required
            </div>
        </div>

        <!-- Username Field -->
        <div class="mb-3">
            <label for="login" class="form-label">Username</label>
            <input formControlName="login" type="text" class="form-control" id="login" placeholder="Username">
            <div *ngIf="signupForm.get('login')?.invalid && signupForm.get('login')?.touched" class="text-danger">
                Username is required
            </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
                Password is required
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Register</button>
        <button (click)="login()" type="button" class="btn btn-link">Login</button>
    </form>
</div>
