<div class="container mt-5">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="register()" method="post">
        <!-- First Name Field -->
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input formControlName="first_name" type="text" class="form-control" id="first_name" placeholder="First Name">
            <div *ngIf="signupForm.get('first_name')?.invalid && signupForm.get('first_name')?.touched" class="text-danger">
                First name is required
            </div>
        </div>

        <!-- Last Name Field -->
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input formControlName="last_name" type="text" class="form-control" id="last_name" placeholder="Last Name">
            <div *ngIf="signupForm.get('last_name')?.invalid && signupForm.get('last_name')?.touched" class="text-danger">
                Last name is required
            </div>
        </div>

        <!-- Email Field -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
                Email is required
            </div>
        </div>

        <!-- Username Field -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username">
            <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="text-danger">
                Username is required
            </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
                Password is required
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Register</button>
        <button (click)="login()" type="button" class="btn btn-link">Login</button>
    </form>
</div>
